<!DOCTYPE html>
<html>

<head>
    <title>New Post</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="js/jquery.params.js"></script>
    <script src="js/main.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/offers_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/offers_responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
</head>

<body>
<!-- Header -->

<header class="header">

    <!-- Top Bar -->

    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="phone">+45 345 3324 56789</div>
                    <div class="social">
                        <div class="social">
                            <ul class="social_list">
                                <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                    <div class="logo_container">
                        <div class="logo"><a href="#"><img src="images/logo.png" alt="">oingo</a></div>
                    </div>
                    <div class="main_nav_container ml-auto">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a href="index.html" id="main">home</a></li>
                            <li class="main_nav_item"><a href="post.html" id="post">post</a></li>
                            <li class="main_nav_item"><a href="mynotes.html" id="note">my note</a></li>
                            <li class="main_nav_item"><a href="filters.html" id="filter">filter</a></li>
                            <li class="main_nav_item"><a href="friendlist.html" id="friends">friends</a></li>
                            <li class="main_nav_item"><a href="profile.html" id="profile">profile</a></li>
                        </ul>
                    </div>
                    <div class="content_search ml-lg-0 ml-auto">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
								<g>
									<g>
										<g>
											<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
											s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
											C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
											M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
											c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>
										</g>
									</g>
									<g>
										<g>
											<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
											c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
											C-2.019,484.77-2.019,497.865,6.057,505.942z"/>
										</g>
									</g>
								</g>
							</svg>
                    </div>

                    <form id="search_form" class="search_form bez_1">
                        <input type="search" class="search_content_input bez_1">
                    </form>

                    <div class="hamburger">
                        <i class="fa fa-bars trans_200"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>

<!--<div class="menu trans_500">-->
    <!--<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">-->
        <!--<div class="menu_close_container"><div class="menu_close"></div></div>-->
        <!--<div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>-->
        <!--<ul>-->
            <!--<li class="menu_item"><a href="index.html">home</a></li>-->
            <!--<li class="menu_item"><a href="post.html">post</a></li>-->
            <!--<li class="menu_item"><a href="mynotes.html">my note</a></li>-->
            <!--<li class="menu_item"><a href="filters.html">filter</a></li>-->
            <!--<li class="menu_item"><a href="friendlist.html.html">friends</a></li>-->
            <!--<li class="menu_item"><a href="profile.html">profile</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/contact_background.jpg"></div>
    <div class="home_content">
        <div class="home_title">Post A Note</div>
    </div>
</div>
<script type="text/javascript">
    var email = $.query.get("email");
</script>


<!-- Contact -->

<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Contact Form -->
                <div class="contact_form_container">
                    <div class="contact_title text-center">New Note</div>
                    <div id="contact_form" class="contact_form text-center">
                        <input type="text" id="lat" class="contact_form_name input_field"  placeholder="Latitude" required="required" data-error="Text is required.">
                        <input type="text" id="log" class="contact_form_email input_field" placeholder="Longitude" required="required" data-error="Tags is required.">
                        <input type="text" id="tags" class="contact_form_subject input_field" placeholder="Tags" required="required" data-error="Subject is required.">
                        <input type="text" id="commentable" class="contact_form_name input_field"  placeholder="Commentable" required="required" data-error="Text is required.">
                        <input type="text" id="vis" class="contact_form_email input_field" placeholder="Visibility" required="required" data-error="Tags is required.">
                        <input type="text" id="radius" class="contact_form_subject input_field" placeholder="Radius" required="required" data-error="Subject is required.">
                        <input type="text" id="stime" class="contact_form_name input_field"  placeholder="Start Time" required="required" data-error="Text is required.">
                        <input type="text" id="etime" class="contact_form_email input_field" placeholder="End Time" required="required" data-error="Tags is required.">
                        <input type="text" id="rep" class="contact_form_subject input_field" placeholder="Repetition" required="required" data-error="Subject is required.">
                        <input type="text" id="text" class="contact_form_subject input_field" placeholder="Text" required="required" data-error="Subject is required.">
                        <!--<button type="submit" id="form_submit_button" class="form_submit_button button trans_200" href="javascript:postnote()">post it!<span></span><span></span><span></span></button>-->

                        <p><a class="form_submit_button button trans_200" href="javascript:postnote()" role="button">Post</a></p><span></span><span></span><span></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<div class="contact_form_section">-->
    <!--<div class="container">-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Text</span>-->
                <!--<input class="form-control" type="text" id="text">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Tags</span>-->
                <!--<input class="form-control" type="text" id="tags">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Latitude</span>-->
                <!--<input class="form-control" type="text" id="lat">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Longitude</span>-->
                <!--<input class="form-control" type="text" id="log">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Radius</span>-->
                <!--<input class="form-control" type="text" id="Radius">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Visibility</span>-->
                <!--<input class="form-control" type="text" id="vis">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Commentable</span>-->
                <!--<input class="form-control" type="text" id="commentable">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Start Time</span>-->
                <!--<input class="form-control" type="text" id="stime">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">End Time</span>-->
                <!--<input class="form-control" type="text" id="etime">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Repetition</span>-->
                <!--<input class="form-control" type="text" id="rep">-->
            <!--</div>-->
        <!--</div>-->
        <!--<p><a class="btn btn-primary btn-lg" href="javascript:postnote()" role="button">Post</a></p>-->
    <!--</div>-->
<!--</div>-->
<script type="text/javascript">

    $.ajax({
        type: "post",
        url: "http://127.0.0.1:5000/getLocTime",
        cache: false,
        async: false,
        dataType: "json",
        data: JSON.stringify({ uemail: email }),
        success: function (result) {
            $("#lat").attr("value", result.ulati);
            $("#log").attr("value", result.ulongi);
        }
    });

    onload=function(){
        var str=window.location.href;
        var arrstr1=window.location.href.split("=");
        var arrstr2=window.location.href.split("=")[1];
        var email=arrstr2.split("&")[0];
        var myuid=window.location.href.split("=")[2];

        //var myuid = $("#uid").val();
        console.log("email", email);
        $("#usrn").text(email);
        $("#usrn").attr('href', 'profile.html?email=' + email + '&uid=' + myuid);
        $("#profile").attr('href', 'profile.html?email=' + email + '&uid=' + myuid);
        $("#post").attr('href', 'post.html?email=' + email+ '&uid=' + myuid);
        $("#note").attr('href', 'mynotes.html?email=' + email+ '&uid=' + myuid)
        $("#friends").attr('href', 'friendlist.html?email=' + email+ '&uid=' + myuid)
        $("#filter").attr('href', 'filters.html?email=' + email+ '&uid=' + myuid)
        $("#main").attr('href', 'main.html?email=' + email+ '&uid=' + myuid+'f='+1)
    }

    getPosition().then(result => {
        // 返回结果示例：
        // {latitude: 30.318030999999998, longitude: 120.05561639999999}
        let queryData = {
            longtitude: String(result.longitude),
            latitude: String(result.latitude),
        };
        // 以下放置获取坐标后你要执行的代码:
        $('#lat').attr("value", queryData["latitude"])
        $('#log').attr("value", queryData["longtitude"])
    }).catch(err => {
        console.log(err)
    })
    Date.prototype.Format = function (fmt) { // author: meizz
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "h+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    function postnote() {
        var time = new Date().Format("yyyy-MM-dd hh:mm:ss");
        var text = $("#text").val();
        var tags = $("#tags").val().split(' ');
        var latitude = $("#lat").val();
        var longitude = $("#log").val();
        var radius = $("#radius").val();
        var vis = $("#vis").val();
        var comment = $("#commentable").val();
        var stime = $("#stime").val();
        var etime = $("#etime").val();
        var rep = $("#rep").val();
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:5000/note",
            dataType: "json",
            data: JSON.stringify({
                uemail: email, ntext: text, tag: tags, ntime: time, nlongi: longitude, nlati: latitude, nradius: radius, visibility: vis, commentable: comment,
                starttime: stime, endtime: etime, repetition: rep
            }),
            success: function (result) {
                alert("New Note Post Success!")
                // window.location.href="main.html?email="+email;
            },
            error: function (e) {
                alert(e);
            }
        });
    }





</script>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/offers_custom.js"></script>

</body>

</html>